@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Overpass", sans-serif;
    background: hsl(216, 12%, 8%);
}

.main-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(  hsl(210, 18%, 19%), hsl(214, 18%, 15%),hsl(214, 18%, 15%), hsl(214, 18%, 15%), hsl(213, 18%, 12%));
    border-radius: 20px;
    padding: 30px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-container{
    width: 11%;
    display: flex;
    flex-direction: column;
    padding: 11px;
    border-radius: 50%;
    background: hsl(209, 19%, 23%);  
}

.img-container img{
    width: 100%;
}

.header-content{
    margin-top: 10px;
}

.header-content h1{
    color: hsl(0, 0%, 100%);
}

.rating-content{
    margin-top: 5px;
}

.rating-content p{
    color: hsl(217, 12%, 63%);
    font-size: 0.9rem;
    line-height: 25px;
}

.rating-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 25px;
}

.rating-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(210, 18%, 19%);
    padding: 18px;  
    border-radius: 50%;
}

.rating-card h3{
    color: hsl(216, 12%, 54%);
    font-size: 0.9rem;
}
